body {
    font-family: sans-serif;
    margin: 20px;
  }
  
  h1, h2 {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="tel"] {
    width: 250px;
    padding: 5px;
    border: 3px solid #ccc;
    margin-bottom: 10px;
  }
  
  input[type="date"],
  input[type="time"] {
    width: 150px;  /* Adjust width as needed */
    padding: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  textarea {
    width: 250px;
    height: 100px;
    padding: 5px;
    border: 3px solid #ccc;
    margin-bottom: 10px;
  }
  
  .error {
    border-color: red;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #45A049;
  }
  